#middle.accountMiddle
  #accountViewContainer
    #accountTitleContainer
      %p#accountTitle.rockwellRegular tweetbuff.com
      %p#accountSubTitle.rockwellRegular Lorem ipsum dolor sitt amet, consecteur adipiscing elit.
    .separator
    .accountTable
      .accountTableCol
        = form_for(@user, :as => @user, :url => account_password_update_path, :html => { :method => :put }, :remote => true) do |f|
          .accountColTitle
            Change your password
          .textFieldContainer
            .smallTextField
              =f.password_field :current_password,  :class => "transparentInput", :placeholder => "Current password", :required => true
          .textFieldContainer
            .smallTextField
              =f.password_field :password,  :class => "transparentInput", :placeholder => "New password", :required => true
          .textFieldContainer
            .smallTextField
              =f.password_field :password_confirmation,  :class => "transparentInput", :placeholder => "Confirm new password"
          %div{:style => "clear:both"}
          =f.submit "", :class=>"changeMyPwdButton"
      .verticalLine
      .accountTableCol
        =form_tag update_notify_path do
          .accountColTitle
            Notifications
          = check_box_tag 'notify', 1, current_user.notify?
          %span.notificationsMsg Remind me to add Tweets where i've run out in my buffer
          %br
            .tweetItBird
          =submit_tag "", :class=>"saveNotificationsButton"
      .verticalLine
      .accountTableCol
        =form_tag update_timezone_path do
          .accountColTitle
            Timezone
          .textFieldContainer
            .smallTextField
              = timezone_select "account[timezone]", @user.timezone, :class=>"comboText timezoneCombo"
              .comboArrow
          %div{:style => "clear:both"}
          .earthBird
          =submit_tag "", :class => "updateTimezoneButton"