#box-sign-in
  %h2{:style => "font-weight: bold; position: relative; color: rgb(43, 157, 230); font-size: 26px; margin-left: -4px;"} Get started by adding your Twitter account
  %a{:href => twitter_authorize_account_path, :style => "position: relative; top: 25px;"}
    %img{:src => "/images/add-account.jpg", :width => 176, :height => 42}
  %h3{:style => "padding-right: 130px; color: rgb(158, 158, 158); font-size: 12px; position: relative; padding-left: 130px; margin-left: 18px; margin-top: 75px;"}
    = "Within a few seconds you'll be topping up your Buffer to enjoy the hassie-free way of sharing consistently."
  %div{:style => "float: left; margin-left: 29px; position: absolute; margin-top: -92px;"}
    = image_tag("/images/birds_64/6.png")
    .inputs
    .actions