#middle.addTwitterAccountmiddle
  #addTwitterAccountContainer
    #addTwitterAccountTitleContainer
      %p.pageTitle Get started by adding your Twitter account
      %p.pageSubTitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .separator
    #addTwitterAccountButtonContainer
      = image_tag "littleBird.png", :id => "addTwitterAccountLittleBird"
      #addTwitterAccountButton
        %a.rockwellRegular{:href => twitter_authorize_account_path} Add an account
      #addTwitterAccountBottomSeparator.separator
    %p#addTwitterAccountBottomText.rockwellRegular Within a few seconds you'll be topping up your Buffer to enjoy the hassle-free way of sharing consistently.
    
:javascript
  $("#menuArrow").hide();
