- time_definition = buffer_preference.time_definitions.first(:conditions => {:day_of_week => day})
= simple_form_for(time_definition, :url => twitter_user_buffer_preference_tweet_time_path(@twitter_user, buffer_preference)) do |form|
  .span-15.last
    .span-15.last
      SEND ON DAY WHATEVER GOES HERE
  .span-15.last.clearfix
    .span-3
      Starting at
    .span-7
      .time-select.inline{:"data-altfield" => "#start_at"}
      = form.input :start_at, :as => :hidden
    .span-5.last
      X tweets per day
  .span-15.last
    = form.input :interval, :as => :hidden, :html_input => {:value => true}
    = form.input :interval_length, :collection => TimeDefinition::INTERVALS
  .span-15.last
    .span-5.right
      =form.button :submit