/* line 1, app/stylesheets/general.scss */
#notification {
  border: 1px solid #cdcdcd;
  background: #D8E9D3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

/* line 10, app/stylesheets/general.scss */
a {
  text-decoration: none;
}

/* line 14, app/stylesheets/general.scss */
#general_dialog {
  font-size: 12px;
  background: #ffffff;
  padding: 10px !important;
  display: none;
  max-width: 720px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

/* line 28, app/stylesheets/general.scss */
#dialog_header {
  background: #cdcdcd;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 37, app/stylesheets/general.scss */
#image-header {
  text-align: center;
}

/* line 40, app/stylesheets/general.scss */
#image-footer {
  margin-top: 80px;
  text-align: center;
}

/* line 44, app/stylesheets/general.scss */
#image-sign-in {
  float: left;
  margin-left: 29px;
  margin-top: 70px;
  position: absolute;
}

/* line 50, app/stylesheets/general.scss */
.button-sign-in {
  background: url("/images/sign-in.jpg") repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 32px;
  width: 178px;
}

/* line 56, app/stylesheets/general.scss */
.button-sign-up {
  background: url("/images/sign-up.jpg") repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 34px;
  width: 178px;
}

/* line 62, app/stylesheets/general.scss */
.button-forgotten {
  background: url("/images/get-recovery-instructions.jpg") repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 33px;
  width: 177px;
}

/* line 68, app/stylesheets/general.scss */
.button-change-password {
  background: url("/images/change-password.jpg") repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 33px;
  width: 177px;
}

/* line 74, app/stylesheets/general.scss */
.error_notification {
  color: red;
}

/* line 77, app/stylesheets/general.scss */
.error {
  color: red;
}
