/* line 1, app/stylesheets/home.scss */
.float_signup {
  position: absolute;
  top: 0;
  right: 0;
  height: 149px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 10, app/stylesheets/home.scss */
#home_container {
  margin: 0 auto;
  width: 100%;
}

/* line 15, app/stylesheets/home.scss */
#tryit_form {
  text-align: center;
}

/* line 19, app/stylesheets/home.scss */
.tryit_button {
  border: 0;
  background: url(/images/tryit_button.jpg) repeat-x;
  width: 85px;
  height: 36px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
  margin-left: -3px;
}

/* line 29, app/stylesheets/home.scss */
#tryit_input {
  background: -moz-linear-gradient(top, #cdcdcd, white);
  width: 330px;
  height: 30px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

/* line 37, app/stylesheets/home.scss */
#detail_head {
  color: #47AEF9;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 200px;
}

/* line 45, app/stylesheets/home.scss */
.statistics {
  display: inline-block;
  float: left;
  border: 1px solid #000;
  width: 220px;
}
