/*
Syntax error: File to import not found or unreadable: blueprint.
              Load paths:
                Compass::SpriteImporter
                /Users/toptierlabs/Desktop/ProyectosRails/TweetBuff/app/stylesheets
        on line 1 of app/stylesheets/ie.scss

1: @import "blueprint";
2: 
3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
4: // @include blueprint-ie
5: 
6: //Recommended Blueprint configuration with scoping and semantic layout:

Backtrace:
app/stylesheets/ie.scss:1
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/import_node.rb:42:in `import'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/engine.rb:247:in `block in render'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/util.rb:310:in `silence_sass_warnings'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/engine.rb:247:in `render'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.1.1/lib/warden/manager.rb:35:in `block in call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.1.1/lib/warden/manager.rb:34:in `catch'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/warden-1.1.1/lib/warden/manager.rb:34:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `block in call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.9/lib/rails/application.rb:77:in `method_missing'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.0.9/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
/Users/toptierlabs/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
/Users/toptierlabs/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/toptierlabs/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/toptierlabs/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: blueprint.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/toptierlabs/Desktop/ProyectosRails/TweetBuff/app/stylesheets\A         on line 1 of app/stylesheets/ie.scss\A \A 1: @import \"blueprint\";\A 2: \A 3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:\A 4: // @include blueprint-ie\A 5: \A 6: //Recommended Blueprint configuration with scoping and semantic layout:"; }
