/* line 1, app/stylesheets/tweet.scss */
.wrapper {
  width: 900px;
  marginL: 0 auto;
}

/* line 6, app/stylesheets/tweet.scss */
#go_pro {
  text-align: right;
}

/* line 10, app/stylesheets/tweet.scss */
.adv_link {
  text-decoration: none;
  color: #2222ff;
}

/* line 15, app/stylesheets/tweet.scss */
#tweet_stuff {
  padding: 5px;
}

/* line 19, app/stylesheets/tweet.scss */
.user_twitter_detail {
  display: inline-block;
  width: 151px;
  vertical-align: top;
}

/* line 25, app/stylesheets/tweet.scss */
#profile_image {
  width: 64px;
  height: 64px;
  border: 2px solid #D2EEFA;
  -moz-border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* line 34, app/stylesheets/tweet.scss */
#buffer_count {
  display: inline-block;
}

/* line 38, app/stylesheets/tweet.scss */
#user_login {
  clear: both;
  padding-left: 2px;
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  color: #696969;
}

/* line 47, app/stylesheets/tweet.scss */
#mini_panel {
  color: #3468BB;
}

/* line 51, app/stylesheets/tweet.scss */
.tweet_form_buffer {
  width: 600px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  width: 725px;
}

/* line 59, app/stylesheets/tweet.scss */
#button_container {
  margin-top: 10px;
}

/* line 63, app/stylesheets/tweet.scss */
.add_to_queue {
  background: url(/images/add_to_queue.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
}

/* line 71, app/stylesheets/tweet.scss */
.post_now {
  background: url(/images/post_now.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
}

/* line 79, app/stylesheets/tweet.scss */
.queue_settings {
  background: url(/images/queue_setting.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
}
