
#middle.mainGoodiesContainer
  #goodiesContainer
    .goodieContainer
      .goodieTitleContainer
        .goodieTitle Google Chrome
      .goodieContainer_left
      .goodieContainer_body
        .goodieElement
          %img{:src => "/assets/goodiesChromeLogo.png"}/ 
      .goodieContainer_right
      %div{:style => "clear: both"}
      .goodiesContainerBottomBody     
      %input.goodiesInstallButton{:type => "button"}
    .goodieContainer
      .goodieTitleContainer
        .goodieTitle Apple Safari
      .goodieContainer_left
      .goodieContainer_body
        .goodieElement
          %img{:src => "/assets/goodiesSafariLogo.png"}/
      .goodieContainer_right
      %div{:style => "clear: both"}     
      .goodiesContainerBottomBody     
      %input.goodiesInstallButton{:type => "button"}
    .goodieContainer
      .goodieTitleContainer
        .goodieTitle Mozilla Firefox
      .goodieContainer_left
      .goodieContainer_body
        .goodieElement
          %img{:src => "/assets/goodiesFirefoxLogo.png"}/
      .goodieContainer_right
      %div{:style => "clear: both"}     
      .goodiesContainerBottomBody     
      %input.goodiesInstallButton{:type => "button"}
  #mobile_container
    .goodieMobileTitleContainer
      .goodieMobileTitle In development
    .mobileAppsContainer
      .mobileAppWrapper
        .mobileAppContainer.floatLeft
          .mobileAppImage
            %img{:src => "/assets/goodiesIphoneBlack.png"}/
          .mobileAppTitle IPhone
        .mobileAppContainer.floatRight
          .mobileAppImage
            %img{:src => "/assets/goodiesIphoneWhite.png"}/
          .mobileAppTitle IPad
          
