.hidden {
  display: none;
}


ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    border: 1px solid red;
    margin: 0;

    &:hover{
      background: #eee;
    }

    a {
      display: block;
      padding: 3px 7px 2px;
      text-decoration: none;
    }
  }
}

ul.nav#main {
  float: right;
}

ul.link-nav {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  li {
    display: inline-block;
    margin: 0;
    a {
      display: block;
      padding: 3px 7px 2px;
      text-decoration: none;
    }
  }
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

#footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  font-size: 0.85em;
  color: #aaa;
  display: inline-block;
  .right {
    float: right;
  }
}


.tweet-table-container {
  margin: 35px 0 15px;
  padding: 10px;
  border: 1px solid #aaa;
  position: relative;

  > .header {
    position: absolute;
    top: -25px;
    height: 17px;
    border: 1px solid #aaa;
    padding: 2px 10px 4px;
    margin-left: 5px;
    &:after {
      height: 0;
      border: 1px solid white;
      content: "";
      position: absolute;
      left: 0;
      top: 23px;
      width: 98%;
    }
  }


  > .table {

  }
}




.time-select.inline {
  float: left;
  font-size: 10px;
}

table.ui-timepicker {
  margin-bottom: 0 !important;
  tr td {
    padding: 0.1em !important;
    a {
      text-decoration: none;
    }
  }
}

#buffer-basis {
  .container#buffer-selector {
    ul.selectable {
      display: inline-block;
    }
  }
}


ul.selectable.ui-selectable {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  li {
    margin: 0;
    padding: 3px 10px;
  }
  li.ui-selectee {}
  li.ui-selecting {
    background: #d0e5f5 url(/images/jquery-redmond/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x
  }
  li.ui-selected {
    background: #d0e5f5 url(/images/jquery-redmond/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x
  }
}

.hidden {
  display: none;
}