#notification{
  border: 1px solid #cdcdcd;
  background: #D8E9D3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

a{
  text-decoration: none;
}

#general_dialog{
  font-size: 12px;
  background: #ffffff;
  padding: 10px !important;
  display: none;
  max-width: 720px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

#dialog_header{
  background: #cdcdcd;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}