#notification{
  border: 1px solid #cdcdcd;
  background: #D8E9D3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

a{
  text-decoration: none;
}

#general_dialog{
  /* overflow: scroll; 
  height: 350px;*/
  font-size: 12px;
  background: #ffffff;
  padding: 10px !important;
  display: none;
  max-width: 720px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

#dialog_header{
  background: #cdcdcd;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#image-header{
  text-align: center;
}
#image-footer{
  /*margin-top: 80px;*/
    text-align: center;
}
#image-sign-in{
float: left;
    margin-left: 29px;
    margin-top: 70px;
    position: absolute;
}
.button-sign-in{
    background: url("/images/sign-in.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 29px;
    width: 174px;
    border: none;
}
.button-sign-up{
    background: url("/images/sign-up.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    width: 174px;
    border: none;
}
.button-forgotten{
    background: url("/images/get-recovery-instructions.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 33px;
    width: 177px;
}
.button-change-password{
    background: url("/images/change-password.jpg") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 33px;
    width: 177px;
}
.error_notification{
  color: red;
}
.error{
  color: red;
}

#slideshow {
    position:relative;
    margin:auto;
    height:400px;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 400px;
    background-color: #FFF;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    height: 350px;
    display: block;
    border: 0;
    margin-bottom: 10px;
}

.checkbox_time_setting {
    display: none;
}

a.active_checkbox_time_setting {
  background: #AAAAAA;
  padding: 3px;
}