.float_signup {
  position: absolute;
  top: 0;
  right: 0;
  height: 149px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

#home_container {
  margin: 0 auto;
  width: 750px;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 20px; }

#tryit_form {
  text-align: center; }

.tryit_button {
  border: 0;
  background: url(/images/tryit_button.jpg) repeat-x;
  width: 85px;
  height: 36px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
  margin-left: -3px; }

#tryit_input {
  background: -moz-linear-gradient(top, #cdcdcd, white);
  width: 330px;
  height: 30px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px; }

#detail_head {
  color: #47AEF9;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 200px; }

.statistics {
  display: inline-block;
  width: 220px;
  padding: 5px;
  float: left;
  margin-left: 10px; }

#home_button_link {
  display: block;
  border: 0;
  background: url(/images/account_button.jpg) repeat-x;
  width: 120px;
  height: 28px;
  -moz-border-radius: 4px;
  margin-left: -3px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 28px; }

.analytic {
  display: inline-block;
  width: 220px;
  padding: 5px;
  float: left;
  margin-left: 10px; }

.testimoni {
  display: inline-block;
  width: 220px;
  padding: 5px;
  float: left;
  margin-left: 10px; }
