.plan-container {
    /*display: inline-block;
    float: left;
    height: 553px;
    margin-left: 5px;
    width: 263px;*/

    display: inline-block;
    float: left;
    margin-left: 5px;
    min-height: 624px;
    width: 263px;
}
div.plan-container:hover{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border:2px solid #3185C3;
  background-color: #F8F8F8;
}
.top-part {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #3185C3;
  padding: 5px;}

.bottom-part {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
color: #373737;
    margin-top: 10px;
    padding-left: 13px;
    padding-right: 35px;
}

.bullet {
  -moz-border-radius: 10px 10px 10px 10px;
  background-color: #373737;
  color: #CCCCCC;
  display: block;
  float: left;
  height: 15px;
  line-height: 15px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 20px; }

.description {
    bottom: 3px;
    color: #3185C3;
    display: block;
    font-size: 13px;
    position: relative;
    right: -15px;
    text-align: left;
}

#list {
  padding-top: 10px;
  min-height: 30px; }

.signup {
    margin-top: 15px;
    padding-left: 70px;
    position: absolute;
    text-align: center;
}

.signup_link {
  display: block;
  width: 90px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #a9a9a9;
  text-decoration: none;
  text-align: center;
  color: #000; }


.plan-name{
  font-family: Musa-Ornata;
  font-size: 20px;
}

.plan-price{
  font-family: Musa-Ornata;
  font-size: 40px;
}
.plan-desc{
  font-family: Musa-Ornata;
  color: #A9C427;
  font-size: 20px;
}
#box{
  margin-bottom: -39px;
    margin-left: 212px;
    margin-top: -93px;
    padding: 25px;
    position: absolute;
    width: 355px;
}
.button-header{
  float: left;
}

.annual{
  font-family: Musa-Ornata;
  font-size: 40px;
}

.monthly{
  font-family: Musa-Ornata;
  font-size: 40px;
}

.button_plan_monthly{
  background: url("/images/button_select.png")repeat scroll 0 0 transparent;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  width: 156px;
  height: 40px;
  float: left;
  margin-right: 5px;
  padding: 5px;
}

.button_plan_annual{
  background: url("/images/button_select.png")repeat scroll 0 0 transparent;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  width: 156px;
  height: 40px;
  float: left;
  padding: 5px;
}


.select{
  background: url("/images/button_unselect.png")repeat scroll 0 0 transparent;
  width: 156px;
  height: 40px;
}