.wrapper{
  width: 900px;
  margin: 0 auto;
}

#go_pro{
  text-align: right;
  padding-right: 20px;
}

.adv_link{
  text-decoration: none;
  color: #2222ff
}

.tweet_stuff{
  /*padding: 5px;*/
  float: left;
    width: 200px;
}

.user_twitter_detail{
  display: inline-block;
    vertical-align: top;
    width: 187px;
}

.user_detail .badge{
  margin-top: 30px;
  position: absolute;
}

.user_twitter_detail .badge {
    margin-left: 2px;
    margin-top: 50px;
    position: absolute;
}

#profile_image{
  height: 64px;
  width: 64px;
  border: 2px solid #D2EEFA;
  -moz-border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  display: inline-block;
  float: left;
}

#buffer_count{
  display: inline-block;
    margin-left: 38px;
}

#user_login{
 clear: both;
    color: #696969;
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    margin-left: 3px;
}

#mini_panel{
  color: #3468BB;
}

.tweet_form_buffer{
    margin-left: 210px;
    position: relative;
    vertical-align: top;
    width: 725px;
}

#button_container{
  margin-top: 10px;
  width: 700px;
}

.add_to_queue{
  background: url(/images/add_to_queue.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.update_buffer{
  background: url("/images/button_select.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 49px;
    margin-right: 10px;
    width: 167px;
}

.post_now{
  background: url(/images/post_now.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.queue_settings{
  background: url(/images/queue_setting.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}
.suggest_a_tweet{
  background: url(/images/suggest_a_tweet.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

#separator{  
  background: url(/images/separator.jpg);
  margin: auto;
  height: 22px;
  width: 692px;
}

#ads{
  margin-left: 7px;
    vertical-align: top;
    width: 151px;
}

#buffer_list{
  float: right;
    margin-right: -35px;
    vertical-align: top;
    width: 730px;
}

#post_notice{
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  display: none;
  padding: 5px 0 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 20px;
}

.error{
  background: #F6CBCA;
}

.success{
  background: #D8E9D3;
}

#loader{
  position: absolute;
  text-align: center;
  top: 196px;
  width: 100%;
  right: -50px;
  display: none;
}
#loader-buffer{
  position: absolute;
  right: 4px;
  text-align: center;
  top: -63px;
  width: 100%;
  display: none;
}
#loader-edit-buffer{
  position: absolute;
  right: 4px;
  text-align: center;
  top: -63px;
  width: 100%;
  display: none;
}

#buffer_name_container{
  padding-top: 8px;
  padding-left: 5px;
  text-align: left;
}
#new_buffer_name_container{
  padding-top: 8px;
  padding-left: 5px;
  text-align: left;
}

#buffer_wrapper{
  padding-top: 8px;
  padding-left: 5px;
}

.even{
  background: #E8F5FB;
  padding: 3px;
}

.odd{
  background: #fff;
  padding: 3px;
}

#settings_user_detail{
  vertical-align: top;
  margin-top: 17px;
  display: inline-block;
  width: 250px;
}

#bitly_detail{
  vertical-align: top;
  display: inline-block;
}

.timeframe{
  width: 650px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#timeframe_box{
  vertical-align: top;
  display: inline-block;
  width: 250px;
}

#default_timeframe_form_container{
  padding-top: 10px;
}

#custom_timeframe_form_container{
  padding-top: 10px;
  display: none;
}

#custom_tf_select{
  padding: 3px;
}

#manage_team_box{
  vertical-align: top;
  display: inline-block;
  width: 300px;
  margin-left: 50px;
}

#interval_not_updated{
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#tweet_now, #edit_buffer, #delete_buffer, #reached_buffer{
  background: -moz-linear-gradient(top, #fff, #cdcdcd);
  background: -webkit-linear-gradient(top, #fff, #cdcdcd);
  width: 30px;
  height: 20px;
  border: 1px solid #a9a9a9;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

#tweet_now:hover, #edit_buffer:hover, #delete_buffer:hover{
  background: -moz-linear-gradient(top, #cdcdcd, #fff);
  background: -webkit-linear-gradient(top, #cdcdcd, #fff);
  width: 30px;
  height: 20px;
  border: 1px solid #a9a9a9;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

#tweet_now{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  line-height: 30px;
}

#edit_buffer{
  margin-left: -5px;
  line-height: 30px;
}

#reached_buffer{
  margin-left: -5px;
}

#delete_buffer{
  margin-left: -5px;
  line-height: 30px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-topright: 5px;
  -webkit-border-radius-bottomright: 5px;
}


#buffer_count_blue{
   background: url(/images/buffer_count.jpg);
   width: 66px;
   height: 53px;
   float: left;
   margin-left: 5px;
}

#buffer_count_green{
   background: url(/images/sent_from_buffer.jpg);
   width: 66px;
   height: 53px;
   float: left;
   margin-left: 8px;
}

#buffer_count_text_blue{
   color: #3185C3;
   font-size: 32px;
   font-weight: bold;
   margin-left: 3px;   
}

#buffer_count_text_blue_set{
   color: #3185C3;
   font-size: 32px;
   font-weight: bold;
   margin-left: -118px;
}

#buffer_count_text_green{
   color: #B5E23D;
   font-size: 32px;
   font-weight: bold;
   margin-left: 15px;
}

#choose_tweet{
   width: 255px;
   color: #7AC2F4;
   font-size: 13px;
   font-weight: bold;
}


#box-tweet-suggest{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    -o-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    background: #1693a5;
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1cbbd2), color-stop(100%, #1693a5));
    background:-webkit-linear-gradient(#1cbbd2,#1693a5);
    background:-moz-linear-gradient(#1cbbd2,#1693a5);
    background:-o-linear-gradient(#1cbbd2,#1693a5);
    background:-ms-linear-gradient(#1cbbd2,#1693a5);
    background:linear-gradient(#1cbbd2,#1693a5);
    border:1px solid #137f8f;
    line-height:1;
    padding:7px 12px 9px;
    font:inherit;
    font-size: 15px;
    font-weight:bold;
    color:#fff;
    text-shadow:rgba(0,0,0,0.5) 0 1px 1px;
    text-decoration:none;
    display:block;
    margin-top:2px;
    margin-left: 0;
    float: right;
    height: 29px;
    cursor: pointer;
}

#button-suggest{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    -o-box-shadow:rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.1) 0 1px 1px;
    background: #1693a5;
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1cbbd2), color-stop(100%, #1693a5));
    background:-webkit-linear-gradient(#1cbbd2,#1693a5);
    background:-moz-linear-gradient(#1cbbd2,#1693a5);
    background:-o-linear-gradient(#1cbbd2,#1693a5);
    background:-ms-linear-gradient(#1cbbd2,#1693a5);
    background:linear-gradient(#1cbbd2,#1693a5);
    border:1px solid #137f8f;
    line-height:1;
    padding:7px 12px 9px;
    font:inherit;
    font-size: 15px;
    font-weight:bold;
    color:#fff;
    text-shadow:rgba(0,0,0,0.5) 0 1px 1px;
    text-decoration:none;
    display:block;
    margin-top:2px;
    margin-left: 0;
    height: 29px;
    width: 140px;
    cursor: pointer;
    margin: auto;
}

#suggestions_box_dialog{
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}