.wrapper{
  width: 900px;
  margin: 0 auto;
}

#go_pro{
  text-align: right;
  padding-right: 20px;
}

.adv_link{
  text-decoration: none;
  color: #2222ff
}

#tweet_stuff{
  padding: 5px;
}

.user_twitter_detail{
  display: inline-block;
  width: 151px;
  vertical-align: top;
}

#profile_image{
  width: 64px;
  height: 64px;
  border: 2px solid #D2EEFA;
  -moz-border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  display: inline-block;
}

#buffer_count{
  display: inline-block;
  margin-left: -2px;
}

#user_login{
  clear: both;
  padding-left: 2px;
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  color: #696969;
}

#mini_panel{
  color: #3468BB;
}

.tweet_form_buffer{
  width: 600px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  width: 725px;
}

#button_container{
  margin-top: 10px;
}

.add_to_queue{
  background: url(/images/add_to_queue.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.post_now{
  background: url(/images/post_now.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.queue_settings{
  background: url(/images/queue_setting.jpg) no-repeat;
  width: 167px;
  height: 49px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

#separator{
  width: 100%;
  background: url(/images/separator.jpg) no-repeat center;
  height: 30px;
}

#ads{
  display: inline-block;
  width: 151px;
  vertical-align: top;
}

#buffer_list{
  vertical-align: top;
  display: inline-block;
  width: 730px;
}

#post_notice{
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  display: none;
  padding: 5px 0 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 20px;
}

.error{
  background: #F6CBCA;
}

.success{
  background: #D8E9D3;
}

#loader{
  position: absolute;
  text-align: center;
  top: 196px;
  width: 100%;
  right: -50px;
  display: none;
}
#loader-buffer{
  position: absolute;
  text-align: center;
  top: 196px;
  width: 100%;
  right: -50px;
  display: none;
}

#buffer_name_container{
  padding-top: 8px;
  padding-left: 5px;
  text-align: left;
}
#new_buffer_name_container{
  padding-top: 8px;
  padding-left: 5px;
  text-align: left;
}

#buffer_wrapper{
  padding-top: 8px;
  padding-left: 5px;
}

.even{
  background: #E8F5FB;
  padding: 3px;
}

.odd{
  background: #fff;
  padding: 3px;
}

#settings_user_detail{
  vertical-align: top;
  display: inline-block;
  width: 250px;
}

#bitly_detail{
  vertical-align: top;
  display: inline-block;
}

.timeframe{
  width: 650px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#timeframe_box{
  vertical-align: top;
  display: inline-block;
  width: 250px;
}

#default_timeframe_form_container{
  padding-top: 10px;
}

#custom_timeframe_form_container{
  padding-top: 10px;
  display: none;
}

#custom_tf_select{
  padding: 3px;
}

#manage_team_box{
  vertical-align: top;
  display: inline-block;
  width: 300px;
  margin-left: 50px;
}

#interval_not_updated{
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#tweet_now, #edit_buffer, #delete_buffer{
  background: -moz-linear-gradient(top, #fff, #cdcdcd);
  background: -webkit-linear-gradient(top, #fff, #cdcdcd);
  width: 30px;
  height: 20px;
  border: 1px solid #a9a9a9;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

#tweet_now:hover, #edit_buffer:hover, #delete_buffer:hover{
  background: -moz-linear-gradient(top, #cdcdcd, #fff);
  background: -webkit-linear-gradient(top, #cdcdcd, #fff);
  width: 30px;
  height: 20px;
  border: 1px solid #a9a9a9;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

#tweet_now{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  line-height: 30px;
}

#edit_buffer{
  margin-left: -5px;
  line-height: 30px;
}

#delete_buffer{
  margin-left: -5px;
  line-height: 30px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-topright: 5px;
  -webkit-border-radius-bottomright: 5px;
}