#middle.homeMiddle
  #infoSectionContainer
    #statistics.infoSection
      .infoSectionTitle
        %a#statisticsLink{:href => "#"} Statistics
      %p.tryItNowNormalFont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui, tincidunt at vulputate at, tristique eget tellus. Duis id odio varius odio vestibulum ultrices ac ut ipsum. Proin tempus iaculis dolor, et fermentum sem viverra et. Suspendisse hendrerit enim nec nulla cursus pellentesque et et erat. Aliquam erat volutpat.
      #viewMore
        %a{:href => "#"} View more
    #analitics.infoSection
      .infoSectionTitle
        %a#analiticsLink{:href => "#"} Analitics and Reports
      %p.tryItNowNormalFont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui, tincidunt at vulputate at, tristique eget tellus. Duis id odio varius odio vestibulum ultrices ac ut ipsum. Proin tempus iaculis dolor, et fermentum sem viverra et. Suspendisse hendrerit enim nec nulla cursus pellentesque et et erat. Aliquam erat volutpat.
      #viewMore
        %a{:href => "#"} View more
    #peopleSaying.infoSection
      .infoSectionTitle
        %a#peopleSayingLink{:href => "#"} What are people saying
      .peopleSayingsData
        %img{:src => "images/photoPeople1.png"}/
        %p.tryItNowNormalFont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui......
        %a{:href => "# "} Read more
      .peopleSayingsData
        %img{:src => "images/photoPeople2.png"}/
        %p.tryItNowNormalFont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui......
        %a{:href => "# "} Read more
        
#sponsors.homeSponsors
  %div
    %img#sponsorsLeft.sponsorsImage{:src => "images/sponsor1.png"}/
    %img.sponsorsCenter.sponsorsImage{:src => "images/sponsor2.png"}/
    %img.sponsorsCenter.sponsorsImage{:src => "images/sponsor3.png"}/
    %img.sponsorsCenter.sponsorsImage{:src => "images/sponsor4.png"}/
    %img#sponsorsRight.sponsorsImage{:src => "images/sponsor5.png"}/
      
:javascript
  //$("#menuArrow").removeClass();
  $(".menuHome").addClass("active");