#middle.mainMiddleAddFaceTwitt
  #signInContainer
    #signInTitleContainer
      %p#signInTitle
        Add your Twitter or Facebook account
      %p#signInSubTitle
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .separator
    #configContainer
      =image_tag "littleBird.png", :id => "addFaceTwittAccountLittleBird"
      #addAccountsTabsContainer
        #add_face_account_tab
          = link_to "Facebook", facebook_authorize_account_path, :class => "rockwellRegular"
        #add_twitt_account_tab
          = link_to "Twitter", twitter_authorize_account_path, :class => "rockwellRegular"
      .separator
      #add_face_twitt_last_p
        %p.rockwellRegular Within a few seconds you'll be topping up your Buffer to enjoy the hassle-free way of sharing consistently.
#sponsors.mainSponsors