= form_tag save_settings_path do
  =hour_select("tfname[hour]")
  =minute_select("tfname[minute]")
  =meridian("tfname[meridian]")

%br
%input{:type => "button", :onclick => "$('#timeframe_form_container').load('#{default_ti_path}')"}
    