%form{:id => "paypal" :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
  %input{:type => "submit", :value => "Signup now"}
  %input{:type => "hidden", :name => "item_name", :value => "buffer #{plan} subcription"}
  %input{:type => "hidden", :name => "a3", :value => price}
  %input{:type => "hidden", :name => "business", :value => "#{PAYPAL_USER}"}
  %input{:type => "hidden", :name => "cmd", :value => "_xclick-subscriptions"}
  %input{:type => "hidden", :name => "currency_code", :value => "USD"}
  %input{:type => "hidden", :name => "p3", :value => "1"}
  %input{:type => "hidden", :name => "t3", :value => "M"}
  %input{:type => "hidden", :name => "src", :value => "1"}
  %input{:type => "hidden", :name => "modify", :value => "1"}
  %input{:type => "hidden", :name => "custom", :value => current_user.email}
  %input{:type => "hidden", :name => "return", :value => "#{SERVER_URL}"
  
  
  