
%script{:type => "text/javascript", :charset => "utf-8"}
  $(function(){
  $('div.annual-toggle span').click(function(e){
  e.preventDefault();

  $('div.annual-toggle span').removeClass('select');
  $(this).addClass('select');

  if($(this).hasClass('button_plan_annual')) {
  $('div.top-part font.monthly').addClass('hidden');
  $('div.top-part font.annual').removeClass('hidden');
  } else {
  $('div.top-part font.monthly').removeClass('hidden');
  $('div.top-part font.annual').addClass('hidden');
  }
  });

  $('div.annual-toggle span.button_plan_monthly').click();

  });


#middle.plansMiddle
  #configContainer
    #plansTabsContainer
      #plansTab1.plansTab_image_green
        %a.rockwellRegular{:href => "#"} Monthly
      #plansTab2.plansTab_image_blue
        %a.rockwellRegular{:href => "#"} 1 Year 15% OFF
    .separator/
  #plansContainer
    - @plans.each do |plan|    
      .planContainer
        .plansContainer_left
        .plansContainer_body
          .planTitle 
            = plan.name
          .planPrice
            - case(plan.name)           
              -when "Pro"
                #{number_to_currency(plan.price)}/mo
              -when "Premium"
                #{number_to_currency(plan.price)}/mo
          .planPriceAnual
            #{format_price_years(plan.price)}/mo
          - case(plan.name)
            -when "Free"
              .planDescription Find out what it feels like to consitently tweet with buffer
            -when "Pro"
              .planDescription Tweet like a champ with custom metrics and larger buffer
            -when "Premium"
              .planDescription Enjoy the full power of professional GuyKawasaki-like tweeting
        .plansContainer_right
        %div{:style => "clear: both"}       
        .plansContainerBottomBody
          .planFeatures
            %p A continual stream of content for your followers
            %p 6 tweets per day
            %p 20 tweets in your Buffer
            %p 1 Twitter account
            %p Free browser extensions
            %p Use your Bit.ly details
            %p Daily Tweeting patterns
            %p Direct line to founder
        .plansContainerBottomBottom       
        %input.plansSignUpButton{:type => "button"}
    
  .planVideo
    #planVideoTitle
      See how it works in this short video
    #planVideoContainer
    %input.plansSignUpButtonBlue{:type => "button"}
      .readyMsg Ready to try Buffer? get started with it now for free
  .planReasons
    #planReasonsTitle
      Four reasons to try buffer now
    .planReason
      .planReasonBirdDiv
        .planReasonBirdDivWrapper
      .planReasonTitle
        Get more followers
      .planReasonDesc
        .planReasonDescWrapper
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare turpis vitae dolor luctus dapibus.
          %br/
          Sed congue elementum odio at tristique. Quisque sit amet sem tellus, aliquam bibendum dui.
          %br/
          Donec sagittis mi vitae turpis vestibulum nec vehicula tellus semper.
          %br/
          Vivamus consectetur dolor nec arcu sollicitudin sed lobortis erat accumsan. Morbi tempor malesuada leo at mattis. Sed libero diam, euismod ut iaculis ac, porttitor vel justo.
    .planReason
      .planReasonBirdDiv
        .planReasonBirdDivWrapper
      .planReasonTitle
        Get more followers
      .planReasonDesc
        .planReasonDescWrapper
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare turpis vitae dolor luctus dapibus.
          %br/
          Sed congue elementum odio at tristique. Quisque sit amet sem tellus, aliquam bibendum dui.
          %br/
          Donec sagittis mi vitae turpis vestibulum nec vehicula tellus semper.
          %br/
          Vivamus consectetur dolor nec arcu sollicitudin sed lobortis erat accumsan. Morbi tempor malesuada leo at mattis. Sed libero diam, euismod ut iaculis ac, porttitor vel justo.
    .planReason
      .planReasonBirdDiv
        .planReasonBirdDivWrapper
      .planReasonTitle
        Get more followers
      .planReasonDesc
        .planReasonDescWrapper
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare turpis vitae dolor luctus dapibus.
          %br/
          Sed congue elementum odio at tristique. Quisque sit amet sem tellus, aliquam bibendum dui.
          %br/
          Donec sagittis mi vitae turpis vestibulum nec vehicula tellus semper.
          %br/
          Vivamus consectetur dolor nec arcu sollicitudin sed lobortis erat accumsan. Morbi tempor malesuada leo at mattis. Sed libero diam, euismod ut iaculis ac, porttitor vel justo.
#sponsors.mainSponsors

:javascript
  
  $(document).ready(function(){
  
    $(".planPriceAnual").hide();
    $(".planPrice").show();
  
    $("#plansTab1").click(function(){
      if($(this).hasClass("plansTab_image_blue")){
        $(".plansTab_image_green").addClass("plansTab_image_blue");
        $(".plansTab_image_green").removeClass("plansTab_image_green");
        $(this).removeClass("plansTab_image_blue");
        $(this).addClass("plansTab_image_green");
        $(".planPrice").show();
        $(".planPriceAnual").hide();
      }
    
    })
    
    $("#plansTab2").click(function(){
      if($(this).hasClass("plansTab_image_blue")){
        $(".plansTab_image_green").addClass("plansTab_image_blue");
        $(".plansTab_image_green").removeClass("plansTab_image_green");
        $(this).removeClass("plansTab_image_blue");
        $(this).addClass("plansTab_image_green");
        $(".planPriceAnual").show();
        $(".planPrice").hide();
      }
    })
    
    $("#menuArrow").removeClass();
    $("#menuArrow").addClass("menuArrowPlans");  
  })
