- @suggests.each do |suggest|
  %div{:id => "suggestions_box_dialog"}
    %div{:style=>"margin-bottom: 15px;"}
      = suggest.text
      %a{:href=>"#" , :class => "bClose", :id => "button-suggest", :onclick=>"tweet_suggestions(\"#{suggest.text}\")"} Schedule this post!