- @suggests.each do |suggestion|
  %div{:id => "suggestions_box_dialog"}
    %div{:style=>"margin-bottom: 15px;"}
      = suggestion.text
      %a{:href=>"#" , :class => "bClose", :id => "button-suggest", :onclick=>"tweet_suggestions(\"#{suggestion.text}\")"} Schedule this post!