:javascript
  function tweet_suggestions(tweet_user){
    $('#loader-buffer').show();
    var tweet = tweet_user
    $.ajax({
      url: "/suggestions/tweet_suggestion/#{@twitter_user_name}",
      type: 'GET',
      async: true,
      processData: true,
      dataType: "script",         
      data: {"buffer_preferences[name]" : tweet},
      success: function(){
        //$(this).addClass("done");
      }
    });
  }
  
  function selectFileType(fileType) {
    jQuery(".current_type").hide();
    jQuery(".current_type").removeClass("current_type");
    jQuery("#"+fileType).show();
    jQuery("#"+fileType).addClass("current_type");
  }


%div{:id => "suggestions_box_dialog"}
  = form_tag get_category_path(:file_type), :remote => true do
    = select_tag :file_type, options_for_select(@categories), {:include_blank => "–Select File Type–", :onchange => "selectFileType(this.value); $('#file_type_'+this.value).val(this.value);jQuery('.type').attr('id',this.value);jQuery('#get-submit').click();"}
    = submit_tag "get", :id => "get-submit", :style => "display:none;"
  //= select_tag :file_type, options_for_select(@categories), {:include_blank => "–Select File Type–", :onchange => remote_function(:url => {:controller => 'suggestions', :action => 'setting_suggestion'})}
%div{:id => "selected_suggestion"}
    
#loader-buffer
  =image_tag("ajaxLoader.gif")
  %br
  Add suggestion to buffer